body{
    background-color:cornsilk;
}

#header{
    text-align: center;
    color: darkgreen;
    background-color:rgb(119, 193, 8);
}
.question{
    font-size: 19px;
}

.navbar {
    background-color: #4CAF50; 
    overflow: hidden;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Arial, sans-serif;
}


.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}


.navbar a:hover {
    background-color: white;
    color: #4CAF50;
    border-radius: 4px;
}
